<body>
    <div class="container">
        <div class="header">
            <i class="fas fa-times close-icon"></i>
        </div>
        <div class="logo">
            <svg data-testid="geist-icon" height="60" stroke-linejoin="round" viewBox="0 0 16 16" width="60" style="color: currentcolor;">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5 0.5H5.75L9.48421 5.71053L14 0.5H16L10.3895 6.97368L16.5 15.5H11.25L7.51579 10.2895L3 15.5H1L6.61053 9.02632L0.5 0.5ZM12.0204 14L3.42043 2H4.97957L13.5796 14H12.0204Z" fill="white"></path>
            </svg>
        </div>
        <h1 class="title">Crea tu cuenta</h1>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="input-group">
                <label for="name">Nombre</label>
                <input type="text" id="name" formControlName="name" maxlength="50" placeholder="Nombre">
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="mail" id="mail" formControlName="mail" maxlength="50" placeholder="Mail">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" maxlength="50" placeholder="Password">
            </div>
         
            <div class="submit-group">
                <button type="submit">Registrar</button>
            </div>
        </form>
    </div>
</body>
